:root {
  --link-color: #2196f3;
  --back-color: #2f303a;
  --page-color: #f5f4fa;
  --page-color-white: #ffffff;
  --background-color-dark: #2F303A;
  --title-color: #212121;

  }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
ul {
    list-style: none;
  }
a {
  color: inherit;
}
.logo-web {
  color: #2196f3;
}
.logo-st {
  color: #000000;
}
.list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.link{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  color: var(--page-color-white);
}
h2 {
  font-style: normal;
  font-size: 36px;
  line-height: 1.666;
  letter-spacing: 0.03em;
}
h3 {
  font-style: normal;
  font-size: 14px;
  line-height: 1.134;
  letter-spacing: 0.03em;
}
h1,
h2 {
  text-align: center;
}
h1,
h3 {
  text-transform: uppercase;
}
h2,
h3 {
  font-weight: 700;
  color: var(--title-color);
}
/*HEADER STYLE*/
.navbar /*header-container*/,
.nav-area /*nav-container*/,
.site-nav,
.mail-phone /*contact-nav*/{
    display: flex;
    align-items: center;
}
.site-nav{
    margin-left: 93px;
}
.site-nav .item:not(:last-child){
    margin-right: 50px;
}
.mail-phone{
    margin-left: auto;
}
.mail-phone .item:not(:last-child){
    margin-right: 50px;
}
.site-nav .link,
.mail-phone .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
nav > a {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--link-color);
}
.mail-phone a:hover,
.mail-phone a:focus {
  color: var(--link-color);
}
/*HEADER STYLE*/

/* MAIN STYLE */
button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.85;
  padding: 10px 32px;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2196f3;
  color: white;
}
.container{
  text-align: center;
}
.order{
  background-color: var(--background-color-dark);
  width: 1200px;
  font-weight: 900;

  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--page-color-white);
}
/* MAIN STYLE */
