:root {
  --link-color: #2196f3;
  --back-color: #2f303a;
  --page-color: #f5f4fa;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
.container {
  width: 1600px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.logo-web {
  color: #2196f3;
}
.logo-st {
  color: #000000;
}
/*HEADER STYLE*/
.head {
  width: 1600px;
  background: #ffffff;
}
nav > a {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.nav-list a:hover,
.nav-list a:focus {
  color: var(--link-color);
}
.mail-phone a:hover,
.mail-phone a:focus {
  color: var(--link-color);
}

/*HEADER STYLE*/
/* MAIN STYLE */
button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.85;
  padding: 10px 32px;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2196f3;
  color: white;
}
/* MAIN STYLE */
