:root {
  --link-color: #2196f3;
  --back-color: #2f303a;
  --page-color: #f5f4fa;
  --page-color-white: #ffffff;
  --background-color-dark: #2f303a;
  --title-color: #212121;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
a {
  color: inherit;
}
.logo-web,
.ftr-logo-web {
  text-decoration: none;
  color: #2196f3;
}
.logo-st {
  color: #000000;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link,
.ftr-link {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
p {
  margin: 0;
}
h2 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
/*HEADER STYLE*/
.header {
  width: 1200px;
  height: 80px;
  margin: auto;
}
.navbar /*header-container*/,
.nav-area /*nav-container*/,
.site-nav,
.mail-phone /*contact-nav*/ {
  display: flex;
  align-items: center;
}
.site-nav {
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.mail-phone {
  margin-left: auto;
}
.mail-phone .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link,
.mail-phone .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
nav > a {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--link-color);
}
.mail-phone a:hover,
.mail-phone a:focus {
  color: var(--link-color);
}
/*HEADER STYLE*/

/* MAIN STYLE */
.order {
}
.order-btn {
  /* font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.85;
  padding: 10px 32px;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2196f3;
  color: white;*/

  display: block;
  padding: 10px 32px;
  margin: 0 auto;
  background: var(--link-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--page-color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.order-btn:hover,
.order-btn:focus {
  text-shadow: 2px 1px 5px #2c2c31;
  cursor: pointer;
}
.main-order {
  background: var(--background-color-dark);
}
.order .container {
  padding: 106px 282px;
  text-align: center;
}
.order-txt {
  background-color: var(--background-color-dark);
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hiding-heading {
  display: none;
}
/*speciality work*/
.spc-work {
  margin-top: 94px;
  margin-bottom: 94px;
}
.spc-work-list {
  display: flex;
}
.spc-work-list > li:not(:last-child) {
  margin-right: 30px;
}
.spc-work-list h3 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.spc-work-list > li {
  width: 270px;
  height: 101px;
  color: #757575;
}
/*speciality work*/
/*service section*/
.service {
  padding-top: 0;
}
.service-list {
  display: flex;
  flex-wrap: wrap;
}
.service-list > li {
  display: block;
  max-width: 100%;
  height: 294px;
  margin-bottom: 94px;
}
.service-list > li:not(:last-child) {
  margin-right: 30px;
}
/*service section*/
/*OUR TEAM*/
.team {
  width: 1200px;
  height: 648px;
  margin: auto;
  background-color: var(--page-color);
}
.our-team {
  display: flex;
}
.our-team > li:not(:last-child) {
  margin-right: 30px;
}
.our-team > li {
  display: block;
  width: 270px;
  height: 260px;
  margin-bottom: 94px;
}
.our-team h3 {
  margin-bottom: 10px;
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/*OUR TEAM*/

/* MAIN STYLE */
/*FOOTER*/
.footer {
  height: 252px;
  width: 1200px;
  margin: auto;
  background-color: var(--background-color-dark);
}
.ftr-data {
  margin: 0;
  padding-top: 60px;
  padding-left: 215px;
}
.ftr-logo-web {
  width: 231px;
  height: 132px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.footer .logo-st {
  color: var(--page-color-white);
}
.ftr-adress {
  width: 231px;
  margin-top: 20px;
}
.ftr-adress > li {
  padding-bottom: 9px;
}
.ftr-adress .link {
  color: var(--page-color-white);
}
.ftr-link {
  color: rgba(255, 255, 255, 0.6);
}
/*FOOTER*/
